page-form-product {
    .content {
        background-color: color($colors, primary);
    }
    ion-label {
        font-size: 1.5rem;
        font-weight: lighter;
    }
    div.select-text {
        color: color($colors, dark) !important;;
        margin-right: 20px;
    }
    ion-item {
        margin-bottom: 10px !important;
    }
    ion-item .label {
        color: rgba(255, 255, 255, 0.7) !important;
    }
    div.toggle-icon {
        background-color: color($colors, light) !important;
    }
    .toggle-md.toggle-checked .toggle-icon {
        background-color: #82b14a !important;
    }
    div.toggle-inner {
        background-color: #82b14a !important;
    }
   /*  .segment-button {
        color: white !important;
        opacity: 0.5 !important;
        border-bottom: none !important;
    } */
    ion-scroll.scroll-x {
        position: initial !important;
    }
    .radio-md .radio-icon {
        border-color: color($colors, dark) !important;
    }
    .radio-md .radio-checked {
        border-color: #82b14a !important;
    }
    .radio-md .radio-inner {
        background-color: #82b14a !important;
    }
    ion-list-header {
        color: white !important;
        text-align: center !important;
        font-weight: lighter !important;
    }
    ion-scroll.scroll-x .scroll-content {
        padding-left: 5px;
        padding-right: 5px;
        background-color: color($colors, primary) !important
    }
    .picture {
        margin: auto;
        margin-top: 10px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 2px solid color($colors, dark);
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    #pic_text {
        color: color($colors, dark) !important
    }
    input.text-input {
        color: color($colors, dark) !important
    }
    .input{
        color : color($colors, primary) !important;
        background-color: color($colors, lightest) !important
    }
    textarea.text-input {
        // border: 1Px solid color($colors, dark) !important;
        color: color($colors, dark) !important;
        height: 200px;
        border-radius: 5px;
    }
    .picture img {
        object-fit: cover;
        width: 70px;
    }
    ion-segment-button {
		color: color($colors, light) !important;
		opacity: 0.5 !important;
	}
	.segment-md .segment-button.activated,
	.segment-md .segment-button.segment-activated {
		font-size: 1.1em;
		color: color($colors, light) !important;
		// font-weight: 300;
		opacity: 1 !important;
		// text-transform: lowercase !important;
	}
	ion-segment {
		display: block;
		white-space: nowrap;
		// font-size: 0;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
			display: none;
		}
		ion-segment-button.segment-button {
			display: inline-block;
			min-width: 200px;
			width: auto;
		}
	}
    .second_toolbar {
        margin-top: -1px !important;
    }
    ion-toolbar.scroll-toolbar.toolbar {
        margin-top: -1px !important;
    }
    .input {
        background-color: color($colors, light) !important;
        border-radius: 20px !important
    }
   

    ion-item{
		// background-color: color($colors, light) !important
		ion-input{
			background-color: white !important;
			margin-top: 7px !important;
			border-radius: 7px !important
		}
		ion-select{
			background-color: white !important;	
			border-radius: 7px !important;
			margin-top: 7px !important;
		}
	
	}
	div.item-inner{
			border-bottom: none !important
    }
    ion-label{
		color: color($colors, dark) !important
	}
	input.text-input, div.select-text{
		color: color($colors,dark) !important
    }
    .scroll-toolbar{
        background-color: color($colors, primary) !important
    }
    ion-item-divider {
        ion-label{
            color: color($colors, light) !important
        }
    }
    ion-footer{
        background-color: color($colors, secondary) !important
    }
}