page-form-activity {
	.scroll-content {
		background-color: color($colors, lightest);
	}
	ion-item,
	ion-item-divider,
	ion-textarea,
	[ion-button],
	h3,
	h4 {
		color: color($colors, light) !important;
	}
	ion-textarea {
		border: 1px solid color($colors, dark) !important;
	}

	ion-select,
	ion-item {
		background-color: color($colors, light);
	}
}
