<ion-header>

    <ion-toolbar>
      <ion-title>
          {{participant?.name}}
      </ion-title>
          <ion-buttons end>
              <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
          </ion-buttons>
      </ion-toolbar>
  
  </ion-header>
  
  <ion-content formAffaire>
    
    <section class="form-section" padding>
        <h5 class="txt-form" text-center>
          Fill form below to Add Attendee at {{evenement?.name}}
        </h5>
      <ion-item transparent>
        <ion-label stacked>Attendee Name</ion-label>
        <ion-input type="text" placeholder="Name: e.g. Krabby Patty" [(ngModel)]="participant.name"></ion-input>
      </ion-item>
      <ion-item class="country" (click)="selectPartner('contact','partner')">
        <p color="primary">Choose a Contact </p>
        <h3>{{participant.partner_id.name}}</h3>
        <ion-icon name="ios-arrow-down-outline" item-end></ion-icon>
      </ion-item>
        <ion-item transparent>
          <ion-label stacked>Attendee Phonenumber</ion-label>
          <ion-input type="tel" placeholder="0033 02 04 07" [(ngModel)]="participant.phone"></ion-input>
        </ion-item>
        <ion-item transparent>
          <ion-label stacked>Attendee Email</ion-label>
          <ion-input type="email" placeholder="info@ona-consulting.com" [(ngModel)]="participant.email"></ion-input>
        </ion-item>
        <ion-item transparent *ngIf="tickets.length!=0">
            <ion-label stacked>Ticket d'évènement</ion-label>
            <ion-select [(ngModel)]="participant.event_ticket_id.id" (ionChange)="changeValue($event,'ticket')" interface="popover">
                <ion-option *ngFor="let p of tickets" [value]="p.id">
                {{p.name}}
              </ion-option> 
            </ion-select>
        </ion-item>
          
    </section>
              
  </ion-content>
  <ion-footer>
    <div bloc-btn>
    <button ion-button full clear *ngIf="modif && !copy" (click)="saveItem()" icon-right>
      <ion-icon name="checkmark"></ion-icon> Update
    </button> 
    <button ion-button full clear *ngIf="!modif" (click)="saveItem()" icon-right>
       <ion-icon name="checkmark"></ion-icon> Save
    </button>
    <button ion-button full clear *ngIf="copy" (click)="saveItem()" icon-right>
      <ion-icon name="ios-copy-outline"></ion-icon> Copy
    </button>
    </div>
  </ion-footer>