page-prod-detail {
	.scroll-content {
		background-color: color($colors, light) !important;
	}
	p {
		// text-align: left !important;
	}
	h2 {
		width: 85% !important;
		z-index: 1;
		color: #154360;
		font-weight: lighter !important;
		font-family: cursive;
		font-style: italic;
		font-family: 'Roboto-Light' !important;
	}
	#lock {
		font-size: 2.5em !important;
	}
	#top {
		height: 50% !important;
		// position: absolute !important;
	}
	#bottom {
		height: 30% !important;
	}
	#description {
		position: absolute !important;
		font-style: italic;
		width: 44% !important;
		top: 36% !important;
	}

	#no_guarantee {
		font-size: 1.2rem !important;
	}
	#type {
		// position: absolute !important;
		text-transform: uppercase;
		/* padding-left: 13px !important;
		top: 52%; */
	}
	#item1 {
		border-top: 1px solid gainsboro;
		border-bottom: 1px solid gainsboro;
		border-radius: 20px;
		border: 1px solid gainsboro;
		#label{
			color: color($colors, secondary) !important;
		}
	}
	#item3 {
		border-top: 1px solid gainsboro;
		border-bottom: 1px solid gainsboro;
		border-radius: 20px;
		margin-bottom: 10px;
		border: 1px solid gainsboro;
		#label{
			color: color($colors, secondary) !important;
		}
	}
	#item2 {
		border-top: 1px solid gainsboro;
		border-bottom: 1px solid gainsboro;
		border-radius: 20px;
		border: 1px solid gainsboro;
		margin-top: 10px;
		#label{
			color: color($colors, secondary) !important;
		}
	}
	#price {
		text-align: center !important;
		// border-radius: 20px !important;
		color: color($colors, secondary) !important;
		line-height: 25px !important;
		padding: 0px;
        font-size: 18px !important;
		width: 40% !important;
		// border-left :2px solid color($colors, primary) !important;/
	}
	#sale_no {
		color: rgb(172, 44, 44);
	}
	#sale_yes {
		color: rgb(44, 172, 80);
	}
	ion-slides {
		position: absolute !important;
		width: 50% !important;
		top: -20% !important;
		left: 48% !important;
		// height: 70% !important
	}
	div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
		bottom: 190px !important;
	}
	#grid {
		position: absolute !important;
		width: 50% !important;
		top: 2% !important;
	}
	ion-slide img {
		height: 100px !important;
		object-fit: cover !important;
	}
	#read_more {
		text-decoration: none;
		color: gray;
		font-style: italic;
		position: absolute !important;
		top: 52% !important;
	}
	#rupture {
		text-transform: none !important;
		margin-left: -25px !important;
		z-index: 2 !important;
		color: color($colors, danger) !important;
	}
	#ava {
		width: 20px !important;
	}
	.footer-md::before,
	.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		background-image: none !important;
	}
	#lead_btn {
		margin-bottom: 0px !important;
		height: 4rem !important;
	}
	.horizontal-scroll {
		white-space: nowrap;
		height: 200px;
		background-color: transparent !important;
		margin-top: 15px !important;
		.scroll-content {
			padding: 0px !important;
			background-color: transparent !important;
		}
    }
	.horizontal-scroll-similar {
		white-space: nowrap;
		height: 140px;
		background-color: transparent !important;
		margin-top: 15px !important;
		.scroll-content {
			padding: 0px !important;
			background-color: transparent !important;
		}
    }
	.horizontal-scroll-bon {
		white-space: nowrap;
		height: 140px;
		background-color: transparent !important;
		margin-top: 15px !important;
		.scroll-content {
			padding: 5px !important;
			// padding: 0px !important;
			background-color: transparent !important;
		}
    }
    .scroll-bloc{
        margin-top: 15px;
        margin-bottom: 15px;

        border: 1px solid color($colors, grislight);
        // padding: 10px !important;
        border-radius: 10px !important;
        div{
            margin-top: 5px !important
        }
    }
    .price-name{
        position: absolute !important;
        top: 17%;
        width: 70% !important;
		z-index: 1;
		#name{
			font-family: "Roboto-Bold" !important;
			// border-left :2px solid color($colors, primary) !important;
			font-style: normal !important;
			text-transform: uppercase !important;

			font-size: 18px !important
		}
	}
	.swiiper-slider img{
		max-width: 55% !important;
	}
	#category{
		color: color($colors, gris) !important;
		margin-top: 5px !important;
		font-size: 1.2rem !important
	}

	.btn-left, .btn-right{
        // background-color: transparent;
        box-shadow: none;
        z-index: 1000;
        
        ion-icon{
            color: color($colors, gris);
        }
    }
    
  .btn-left{
    // left: 5px;
    float: left !important;
  }

  .btn-right{
    // right: 5px;
    float: right !important;
  }

  .bloc-btn{
	text-align: center !important;
	display: block !important;
	// position: absolute !important;
	top:1%;
	p{
		font-size: 1.9rem !important
	}
}

}
