page-form-note {
	
	.scroll-content{
		background-color: color($colors, lightest);
	}

	 ion-list{

        [last-updated]{
            .label{
                font-size: 0.8em;    
            }
            color: color($colors, gris);
            
            
        }    
     }

     .tag{
		padding: 10px;
        background-color: color($colors, light);
        border-radius: 0.45em;

		div{
			display: inline-block;
			border-radius: 0.45em;
			color:#fff;
			background-color: color($colors, primary);
			padding:4px;
			margin: 3px;
		}

		.add-tag{
			background-color: transparent;
			color: color($colors, primary);
			border:1px solid color($colors, primary);
		}
	}
	// ion-item{
	// 	background-color: red !important;
	// }
	// .input-cover {
    //     background-color: color($colors, light) !important;
    // }
    
}
