page-attendees {

    ion-searchbar{
        animation: fadeInRight 600ms;
        -webkit-animation: fadeInRight 600ms;
   }

   .filter .toolbar-background{
       background-color: color($colors, primary) !important;
       box-shadow: none;
   }

   .filter .toolbar-title{
       font-size: 0.9em;
   }
   
   .fade-in-left-item {
        transition: 1s ease-in-out all;
   }

   ion-content.has-refresher > .scroll-content{
       background-color: color($colors, primary);
   }

   ion-content.has-refresher > .scroll-content .content{
       background-color: transparent !important;
   }

   .scroll-content {
       
       background-color: color($colors, primary);
       padding-top: 20px;
   }

   .titre{
       color: color($colors, light);
       border-left: 2px solid color($colors, secondary);
       padding-left: 5px;
       margin: 5px;
   }

   .custom-card{
    
    ion-card{
        border-radius: 0.45em;
        h3{
            font-family: 'Open-Sans-Bold';
            font-size: 1.15em;
        }

        .txtStatut{
            color: color($colors, secondary);
        }

        .txtNote{
            span{
                color: color($colors, gris);
            }
        }

        .bloc-btn{
            // background-color: color($colors, grislight);
            background: linear-gradient(#fff, #f3f3f3);
        }


    }
   }
}
